.cp-admin-panel .answer {
  background-color: white;
  color: black;
  font-size: 3rem;
  border: 1px solid grey;
  margin-right: 5px;
  justify-content: flex-end;
  text-shadow: none;
}

.cp-admin-panel .answer .text {
  margin-right: auto;
}
