.cp-team-board {
  background: black;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  flex: 1;
  border: 1px solid white;
  border-right: none;
}

.team {
  padding: 0 20px;
  height: 100%;
  line-height: 10vmin;
  font-size: 5vmin;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.team.active .name{
  animation: blinker 1s infinite;
}

.team:first-child {
  border-bottom: 1px solid white;
}

@keyframes blinker {
  50% { color: gold; }
}
