.cp-team-board {
  background: black;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  flex: 1;
  border: 1px solid white;
  border-right: none;
}

.team {
  padding: 0 20px;
  height: 100%;
  line-height: 10vmin;
  font-size: 5vmin;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.team.active {
  /* Commented out due to score not rendering updates properly on Chrome */
 /*background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );*/
 /*background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );*/
 /*color:transparent;*/
 /*-webkit-background-clip: text;*/
 /*background-clip: text;*/
}

.team:first-child {
  border-bottom: 1px solid white;
}
