.cp-team-board {
  background: black;
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex: 1;
}

.team {
  padding: 0 20px;
  height: 100%;
  line-height: 10vmin;
  font-size: 5vmin;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  flex: 2;
}

.team .score {
  font-size: 2em;
}

.team.active .name{
  animation: blinker 1500ms infinite;
}

@keyframes blinker {
  50% { color: gold; }
}
